<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="block-authentication login-to-buy-form"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
      <div class="block block-customer-login">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="block-content grid-container full" aria-labelledby="block-customer-login-heading">
            <form class="form form-login grid-x grid-padding-x"
                  method="post"
                  data-bind="event: {submit: login }"
                  id="login-form">
                <div class="fieldset login cell grid-x grid-padding-x" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="cell small-12 field email required">
                        <label class="label" for="email"><span data-bind="i18n: 'Email Address'"></span></label>
                        <div class="control">
                            <input name="username"
                                   id="email"
                                   type="email"
                                   class="input-text"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="cell small-12 field password required">
                        <label for="pass" class="label"><span data-bind="i18n: 'Password'"></span></label>
                        <div class="control">
                            <input name="password"
                                   type="password"
                                   class="input-text"
                                   id="pass"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true}">
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                    <div class="actions-toolbar cell small-12 grid-x grid-padding-x">
                        <input name="context" type="hidden" value="checkout" />
                        <div class="cell small-12 medium-6 primary">
                            <button type="submit" class="btn-primary action action-login secondary" name="send" id="send2">
                                <span data-bind="i18n: 'Sign In'"></span>
                            </button>
                        </div>
                        <div class="cell secondary small-12 medium-6">
                            <a class="action action-register  btn-secondary" data-bind="attr: {href: registerUrl}">
                                <span data-bind="i18n: 'Register'"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
