<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<logintobuy>
			<general>
				<enabled>0</enabled>
				<show_price>1</show_price>
				<show_addtocart>1</show_addtocart>
			</general>
		</logintobuy>
	</default>
</config>
